body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 1rem 10rem;
}

.filter-bar {
  display: flex;
  padding: 1rem 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.form-field label {
  margin: 0.5rem 0;
}

.list {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

.list--item {
  border-bottom: 1px solid #a9a9a9;
}

.list--item a {
  text-decoration: none;
  color: #6c6c6c;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.list--item a:hover {
  background-color: #ededed;
}
